
/* -------------------------------------------  .entete */
.entete {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    
}

/* -------------------------------------------  .logo */
.logo{
    outline: 1px dotted #0f0;
}

/* -------------------------------------------  .menu__recherche */
.menu__recherche {

    display: flex;
        flex-direction: column;
        outline: 1px dotted #aaa;
        align-items: flex-end;
    @media screen and (min-width: 900px) {
        
        display: flex;
        align-items: center;
    }
   
}

/* -------------------------------------------  .menu */
.menu {
    display: flex;
    a{
        display: block;
        padding: 2px 5px;
    }
}